<launch>
  <node name="rospy_rviz" pkg="rospy_rviz" type="rospy_rviz.py" output="screen"/>
  <param name="file_path" value="$(find rospy_rviz)/data/velodyne/" />
  <param name="filtered_bag_path" value="/media/pf/Elements/DATA/Snowy_Data/velodyne.bag" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rospy_rviz)/rviz/rospy_rviz.rviz" />
</launch>
