<launch>
  <node name="rospy_rviz" pkg="rospy_rviz" type="rospy_rviz.py" output="screen"/>
  <param name="file_path" value="/media/pf/Elements/DATA/Snowy_Data/Open_dataset/Heriot-Watt_University_Radiate/snow_1_0/velo_lidar/" />
  <param name="filtered_bag_path" value="/media/pf/Elements/DATA/Snowy_Data/Open_dataset/Heriot-Watt_University_Radiate/snow_1_0/velodyne.bag" />
  <param name="file_type" value="csv" />  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rospy_rviz)/rviz/rospy_rviz.rviz" />
</launch>
